<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserEntity" type="com.st.common.entity.UserEntity"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/st/common/entity/User.xml"/>
    </mappers>

</configuration>