<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mall.dao.customized.ICategoryMapper">

    <select id="selectCategoryDetailByPrimaryKey" resultMap="commonMapper.CategoryDetailVOMapper" parameterType="Integer">
      select
        <include refid="commonMapper.categoryAS"/>
        ,
        <include refid="commonMapper.categoryTagsAS"/>
      from tb_category c left JOIN tb_category_tag ctag on c.id = ctag.category_id where c.id=#{key}
    </select>

    <select id="getCategoryContent" parameterType="Integer" resultType="CategoryContentVO">
        select c.id,c.content from tb_category c where c.id=#{key}
    </select>




</mapper>