<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.mall.dao.customized.IProductMapper">



    
    <select id="getProductDetailByProductId" resultMap="commonMapper.ProductDetailVOMapper" parameterType="Integer">
      select
      <include refid="commonMapper.productAS"></include>
      ,
      <include refid="commonMapper.categoryAS"></include>
      ,
      <include refid="commonMapper.categoryTagsAS" ></include>
      ,
      <include refid="commonMapper.productTagsAS" ></include>
      from tb_product p
      LEFT JOIN tb_product_tag ptag ON p.id = ptag.product_id
      LEFT JOIN tb_category c on p.category_id = c.id
      LEFT JOIN tb_category_tag ctag on c.id = ctag.category_id
      WHERE p.id=#{key}
    </select>

    <select id="getProductContent" resultType="ProductContentVO" parameterType="Integer">
      select p.content from tb_product p where p.id=#{key}
    </select>

    <select id="getProductComments" resultMap="commonMapper.ProductCommentVOMapper" parameterType="Integer">
        select
        p_comment.id as p_comment_id,
        p_comment.comment_content as p_comment_comment_content,
        p_comment.comment_time as p_comment_comment_time,
        p_comment.product_id as p_comment_product_id,
        p_comment.reply_to as p_comment_reply_to,
        <include refid="commonMapper.userAS"></include>
        from tb_product_comment p_comment
          LEFT JOIN  tb_product p on p.id = p_comment.product_id
          LEFT JOIN tb_user u on p_comment.user_id = u.id
        where p.id=#{key}
    </select>


</mapper>