<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
{{#info}}
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{info}}</strong>
</div>
{{/info}}
<div id="login">
    <img src="/images/simpleLogo.png" alt="">
    <img src="/images/loginbackground.png" alt="" id="loginBackground">

    <div id="loginRegisterPanel">
        <div id="loginRegisterFlipper">
            <div id="registerPanel">
                <form action="/user/regiester" method="post">
                    <span class="registerTitle ">用户注册</span>
                    <div class="inputUserName input-group">
								<span class="input-group-addon" id="basic-username">
									<span class="glyphicon glyphicon-user"></span>
								</span>
                        <input type="text" name="username" placeholder="用户名,6-20位" class="form-control" aria-describedby="basic-username">
                    </div>
                    <div class="inputEmail input-group">
								<span class="input-group-addon" id="basic-email">
									<span class="glyphicon glyphicon-envelope"></span>
								</span>
                        <input type="text" name="email" placeholder="邮箱地址" class="form-control" aria-describedby="basic-email">
                    </div>
                    <div class="inputPwd input-group">
								<span class="input-group-addon" id="basic-pwd">
									<span class="glyphicon glyphicon-lock"></span>
								</span>
                        <input type="password" name="pwd" placeholder="密码，6-20位" class="form-control" aria-describedby="basic-pwd">
                    </div>
                    <div class="inputRePwd input-group">
								<span class="input-group-addon" id="basic-repwd">
									<span class="glyphicon glyphicon-sort"></span>
								</span>
                        <input type="password" name="repassword" placeholder="再次密码" class="form-control" aria-describedby="basic-repwd">
                    </div>
                    <p class="registerInfo redColor">不要输入真实的天猫账号密码</p>

                    <div class="loginOperation">
                        <span class="forgetPwd"><a href="#">忘记密码</a></span>
                        <span class="forLogin"><a href="#" onclick="toggleLogin()" style="cursor: pointer">登陆</a></span>
                        <Button type="submit" class="registerButton" >注册</Button>
                    </div>
                </form>
            </div>
            <div id="loginPanel">
                <form action="/user/login" method="POST">
                    <span class="loginTitle ">账户登录</span>

                    <div class="inputUserName input-group">
								<span class="input-group-addon" id="basic-username">
									<span class="glyphicon glyphicon-user"></span>
								</span>
                        <input type="text" name="username" placeholder="用户名" class="form-control" aria-describedby="basic-username">
                    </div>

                    <div class="inputPwd input-group">
								<span class="input-group-addon" id="basic-pwd">
									<span class="glyphicon glyphicon-lock"></span>
								</span>
                        <input type="password" name="password" placeholder="密码" class="form-control" aria-describedby="basic-pwd">
                    </div>
                    <p class="loginInfo redColor">不要输入真实的天猫账号密码</p>

                    <div class="loginOperation">
                        <span class="forgetPwd"><a href="#">忘记密码</a></span>
                        <span class="freeForRegister"><a href="#" onclick="toggleRegister()" style="cursor: pointer">免费注册</a></span>
                        <Button type="submit" class="loginButton">登录</Button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> fragment/footer}}
</body>
<script>
    $(document).ready(function(){
        if({{isRegiester}}==true){
            toggleRegister();
        }
    });
    function toggleRegister(){
        $loginRegisterFlipper = $("#loginRegisterFlipper");
        $loginRegisterFlipper.removeClass("login");
        $loginRegisterFlipper.addClass("register");
    }
    function toggleLogin(){
        $loginRegisterFlipper = $("#loginRegisterFlipper");
        $loginRegisterFlipper.removeClass("register");
        $loginRegisterFlipper.addClass("login");
    }
</script>
</html>