<div id="searchWrapper">
    <div id="logDiv" class="inline-block"><a href="#"><img th:src="@{/images/logo.gif}"/></a></div>
    <div id="searchInputDiv" class="inline-block">
        <form>
            <div class="searchKeywordDiv">
                <input type="text" class="searchKeyword" name="searchKeyword" placeholder="显示器2K">
                <button class="searchBtn" type="submit">搜索</button>
            </div>
            <div class="searchBelow">
                <ul class="searchShortcut">
                    <li><a href="#">平衡车</a></li>
                    <li><a href="#">扫地机器人</a></li>
                    <li><a href="#">原汁机</a></li>
                    <li><a href="#">冰箱</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>