<body>
<nav class="topBanner">

    <a href="#" class="icon">
        <span class="glyphicon glyphicon-home redColor"></span>
        <span>天猫首页</span>
    </a>
    <span class="userName">喵，欢迎来天猫</span>
    <a href="/user/login">请登录</a>
    <a href="/user/login">免费注册</a>

    <span class="pull-right">
			<a href="#">我的订单</a>

			<a href="#">
				<span class="glyphicon glyphicon-shopping-cart redColor"></span>
				<span>购物车</span>
			</a>
		</span>
</nav>
</body>